<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% include 'header.html' %}
     <script type="text/javascript">

        function caltotal() {
            //print("hello")
            let price = document.getElementById("price").value;
            let quantity = document.getElementById("quantity").value;

            let Total = parseFloat(price) * parseInt(quantity);
            Total = Total.toFixed(2)
            document.getElementById("total").value = Total;
        }

    </script>
</head>
<body>
    <form action="/buystocks" method="post"> {% csrf_token %}

    <input type="hidden" value="{{ details.2 }}" name="sid">

    Name: <input readonly value="{{ details.0 }}" name="sname" style="width: 300px"> <br>

    <br>

    Price:<input readonly value="{{ details.1 }}" id="price" name="cprice">

    <br><br>

    Quantity: <input type="number" name="quantity" id="quantity" onkeyup="caltotal()" onchange="caltotal()"/><br><br>

    Total: <input readonly name="total" id="total"/><br><br>

    <input type="submit" value="BUY">
</form>

</body>
</html>