<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Tradiction</title>
    <style>
        .test {
            margin-top: 100px;
        }

        .navbar {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Tradiction</a>

        <form class="form-inline"
        ">
        <button type="submit" class="btn btn-sm btn-outline-secondary" formaction="/prototypeapp/login">Login</button>
        <button class="btn btn-outline-success" type="submit" formaction="/prototypeapp/registration">Sign Up</button>
        </form>
    </nav>
</div>
<div class="container-fluid test">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="nav-link" href="#">Stocks</a>
        <a class="nav-link" href="#">News</a>
        <a class="nav-link" href="#">Portfolio</a>
        <a class="nav-link" href="#">Trading History</a>
        <a class="nav-link" href="#">Watchlist</a>
        <a class="nav-link" href="#">Help</a>
    </nav>
</div>
<br><br>
<div>
    {% for foo in row %}
    <tr>
        &ensp;
        <td><b>{{ foo.0 }}</b></td>
        &ensp;
        <td><b>{{ foo.1 }}</b></td>
    </tr>
    {% endfor %}
</div>

<br><br>
<div class="row mx-md-n5">
  <div class="col px-md-5">
      <div class="py-5 border text-center rounded">
          Invest With Us!
      </div>
  </div>
</div>
<br>
<div class="row mx-md-n5">
  <div class="col px-md-5">
      <div class="p-3 border rounded text-center">
          <p class= "font-weight-bold">Recent News</p>
<!--          convert these to a href once we work on backend.-->
          <p class="text-left">Article 1</p>
          <p class="text-left">Article 2</p>
          <p class="text-left">Article 3</p>
          <p class="text-left">Article 4</p>
          <p class="text-left">Article 5</p>
      </div>

  </div>
  <div class="col px-md-5">
      <div class="p-3 border text-center rounded">
          <p class="font-weight-bold"> Trending</p>
          <div class="container border text-left rounded my-1">Trending stock information goes here..</div>
          <div class="container border text-left rounded my-1">Laborum hamburger non consequat reprehenderit pork</div>
          <div class="container border text-left rounded my-1">short ribs reprehenderit excepteur alcatra beef ribs nostrud ad</div>
          <div class="container border text-left rounded my-1">Boudin cupidatat qui, proident excepteur velit kevin fatback</div>
          <div class="container border text-left rounded my-1">Short loin flank short ribs kevin lorem anim</div>
          <div class="container border text-left rounded my-1">Eu deserunt sint bresaola drumstick, tenderloin swine</div>
          <div class="container border text-left rounded my-1">hock, bacon doner sed laboris</div>
      </div>

  </div>
</div>





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>