<html>
   <head>
      {% include 'header.html' %}
      <style>
         table {
         font-family: arial, sans-serif;
         border-collapse: collapse;
         width: 100%;
         }
         td, th {
         border: 1px solid #dddddd;
         text-align: left;
         padding: 8px;
         }
         tr:nth-child(even) {
         background-color: #dddddd;
         }
      </style>

   </head>
   <body onbeforeunload="Confirm()">
      <section class="jumbotron text-center">
         <div class="container">
            <h1>Invest with Us!</h1>
            <p class="lead text-muted">Tradiction offers the latest in stock news, and a platform to easily view, buy and sell stocks. Sign up today to take advantage of everything this site has to offer! </p>
         </div>
      </section>
      <br>
      <div class="row mx-md-n5">
      <div class="col px-md-5">
         <div class="p-3 border rounded text-center">
            <p class= "font-weight-bold">Recent News</p>
            <!--          convert these to a href once we work on backend.-->
            {% for i in articles %}
            <a target="_blank" onclick="return Confirm()" href={{ i.url }}>
               <p class="text-left">{{ i.title }}</p>
            </a>
            {% endfor %}
         </div>
      </div>
      <div class="col px-md-5">
         <div class="p-3 border text-center rounded">
            <p class= "font-weight-bold">Trending Stocks</p>
            <table>
               <tr>
                   <th>Name</th>
                   <th>Day High</th>
                   <th>Day Low</th>
                   <th>Open</th>
                   <th>Previous Close</th>
                   <th>Details</th>
               </tr>
               {% for i in details %}
                   <tr>
                      <td>{{ i.longName }}</td>
                      <td>{{ i.dayHigh }}</td>
                      <td>{{ i.dayLow }}</td>
                      <td>{{ i.open }}</td>
                      <td>{{ i.previousClose }}</td>
                      <td><a href="/stockdetails?stock={{ i.symbol }}">Details</a></td>
                   </tr>
               {% endfor %}
            </table>
         </div>
      </div>
      </div>
      <script>
          function Confirm() {
              return confirm("You are about to leave the page!!! Are you sure?")
          }
      </script>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
         crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
         integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
         crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
         integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
         crossorigin="anonymous"></script>
   </body>
</html>