<html>
<head>{% include 'header.html' %}</head>
<body>

<div class="row mx-md-n5">
  <div class="col px-md-5">
      <div class="py-5 border text-center rounded">
          Invest With Us!
      </div>
  </div>
</div>
<br>
<div class="row mx-md-n5">
  <div class="col px-md-5">
      <div class="p-3 border rounded text-center">
          <p class= "font-weight-bold">Recent News</p>
<!--          convert these to a href once we work on backend.-->
          {% for i in articles %}
            <a target="_blank" href={{ i.url }}><p class="text-left">{{ i.title }}</p></a>
          {% endfor %}
      </div>

  </div>
  <div class="col px-md-5">
      <div class="p-3 border text-center rounded">
          <p class="font-weight-bold"> Trending</p>
          <div class="container border text-left rounded my-1">Trending stock information goes here..</div>
          <div class="container border text-left rounded my-1">Laborum hamburger non consequat reprehenderit pork</div>
          <div class="container border text-left rounded my-1">short ribs reprehenderit excepteur alcatra beef ribs nostrud ad</div>
          <div class="container border text-left rounded my-1">Boudin cupidatat qui, proident excepteur velit kevin fatback</div>
          <div class="container border text-left rounded my-1">Short loin flank short ribs kevin lorem anim</div>
          <div class="container border text-left rounded my-1">Eu deserunt sint bresaola drumstick, tenderloin swine</div>
          <div class="container border text-left rounded my-1">hock, bacon doner sed laboris</div>
      </div>

  </div>
</div>





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>