<!DOCTYPE html>
<html lang="en">
<head>{% include 'header.html' %}</head>
<body>
<br>

    <div class="row mx-md-n5">
      <div class="col px-md-5">
          <div class="p-3 border rounded text-center">
              <div class=figure>
                  <p><img src="address.jpg" class="img-responsive"
                          width="200" height="220"> </p>
                  <p> this is a title </p>
              </div>
          </div>

      </div>
      <div class="col px-md-5">
          <div class="p-3 border rounded text-center">
              <div class=figure>
                  <p><img src="address.jpg" class="img-responsive"
                          width="200" height="220"> </p>
                  <p> this is a title </p>
              </div>
          </div>

      </div>
      <div class="col px-md-5">
          <div class="p-3 border rounded text-center">
              <div class=figure>
                  <p><img src="address.jpg" class="img-responsive"
                          width="200" height="220"> </p>
                  <p> this is a title </p>
              </div>
          </div>

      </div>
      <div class="col px-md-5">
          <div class="p-3 border text-center rounded">
              <div class=figure>
                  <p><img src="address.jpg" class="img-responsive"
                          width="200" height="220"> </p>
                  <p> this is a title </p>
              </div>
          </div>

      </div>
    </div>
    <br><br>
    <div class="row mx-md-n5">
      <div class="col px-md-5">
          <div class="p-3 border rounded text-center">
              <div class=figure>
                  <p><img src="address.jpg" class="img-responsive"
                          width="200" height="220"> </p>
                  <p> this is a title </p>
              </div>
          </div>

      </div>
      <div class="col px-md-5">
          <div class="p-3 border rounded text-center">
              <div class=figure>
                  <p><img src="address.jpg" class="img-responsive"
                          width="200" height="220"> </p>
                  <p> this is a title </p>
              </div>
          </div>

      </div>
      <div class="col px-md-5">
          <div class="p-3 border rounded text-center">
              <div class=figure>
                  <p><img src="address.jpg" class="img-responsive"
                          width="200" height="220"> </p>
                  <p> this is a title </p>
              </div>
          </div>

      </div>
      <div class="col px-md-5">
          <div class="p-3 border text-center rounded">
              <div class=figure>
                  <p><img src="address.jpg" class="img-responsive"
                          width="200" height="220"> </p>
                  <p> this is a title </p>
              </div>
          </div>

      </div>
    </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
