<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            table
            {
                width: 100%;
                border-collapse: collapse;
            }
            td, th
            {
                border: 2px solid #dddddd;
                padding: 8px;
                text-align: center;
            }
        </style>
        {% include "header.html" %}
    </head>
    <body>
        <div id="StockGraph"></div>
        <table>
            <tr>
                <th>Serial #</th>
                <th>Name</th>
                <th>Buying Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Date and Time</th>
                <th>Current Price</th>
                <th>Sell</th>
            </tr>
            {% for i in rows %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.5 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
                <td>{{ i.1 }}</td>
                <td>{{ i.7 }}</td>
                <td align="center"> <a href="/sellstocks?bid={{i.0}}&symbol={{ i.6 }}"> SELL</a> </td>
            </tr>
           {% endfor %}
        </table>
    </body>
</html>

