<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            table
            {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
        
        td, th
        {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 2px;
        }
        </style>
        <!-- Required meta tags -->
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                    <title>Portfolio</title>
                    <style>
                        .test {
                            margin-top: 100px;
                        }
                    .navbar {
                        margin-bottom: 20px;
                    }
                    </style>
                    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand">Tradiction</a>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/prototypeapp/search">
                            Search
                        </button>
                        </form>
                <form class="form-inline">
                    <button type="submit" class="btn btn-sm btn-outline-secondary" formaction="/prototypeapp/login">Login</button>
                    <button class="btn btn-outline-success" type="submit" formaction="/prototypeapp/registration">Sign Up</button>
                </form>
            </nav>
        </div>
        <div class="container-fluid test">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="nav-link" href="#">Stocks</a>
                <a class="nav-link" href="#">News</a>
                <a class="nav-link" href="#">Portfolio</a>
                <a class="nav-link" href="#">Trading History</a>
                <a class="nav-link" href="#">Watchlist</a>
                <a class="nav-link" href="#">Help</a>
            </nav>
        </div>
        <table>
            <tr>
                <th>Serial #</th>
                <th>Name</th>
                <th>Buying Price</th>
                <th>Current Price</th>
                <th>Date and Time</th>
                <th>Quantity Total</th>
            </tr>
            <tr>
                <td>5435234</td>
                <td>BA</td>
                <td>$400.00</td>
                <td>$450.00</td>
                <td> 4/03/20</td>
                <td> 15</td>
            </tr>
            <tr>
                <td>5433224</td>
                <td>dow Jones</td>
                <td>$1000.00</td>
                <td>$1200.00</td>
                <td> 3/21/19</td>
                <td>4</td>
            </tr>
            <tr>
                <td>5565944</td>
                <td>GE</td>
                <td>$1200.00</td>
                <td>$1500.00</td>
                <td> 2/03/20</td>
                <td>2</td>
            </tr>
            <tr>
                <td>4837234</td>
                <td>NKE</td>
                <td>$300.00</td>
                <td>$600.00</td>
                <td> 1/03/20</td>
                <td> 7</td>
            </tr>
            <tr>
                <td>2913724</td>
                <td>AAPL</td>
                <td>$1900.00</td>
                <td>$2100.00</td>
                <td>9/21/18</td>
                <td>4</td>
            </tr>
            <tr>
                <th>Total:</th>
                <td colspan="5">$564356.00</td>
            </tr>
        </table>
        </p>
    </body>
</html>
