<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trading History</title>
    {% include "header.html" %}
    <style>

          table {
              color:green;
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
         }

        td, th {
            border: 1px solid lightgreen;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<div class="trade" id="Trading History">
    <nav>
        <table>
            <tr>
                
                <th>Serial No.</th>
                <th>Name</th>
                <th>Selling Price</th>
                <th>Date & Time</th>
                <th>Quantity</th>
                <th> Total</th>

            </tr>
            <tr>
                <td>XXXX</td>
                <td>Dibs Bharati</td>
                <td>$1000</td>
                <td>04/19/2020 11:59 PM</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>XXXX</td>
                <td>Brian Lim</td>
                <td>$2000</td>
                <td>04/20/2020 12:00 PM</td>
                <td> 2</td>
                <td>$4000</td>
            </tr>
            <tr>
                <td>XXXX</td>
                <td>Sanjay Mirani</td>
                <td>$3000</td>
                <td>04/21/2020 12:01 AM</td>
                <td>3</td>
                <td>$9000</td>
            </tr>
            <tr>
                <td> XXXX </td>
                <td>Benjamin Fletes</td>
                <td>$4000</td>
                <td>04/22/2019 12:04 PM</td>
                <td>4</td>
                <td>$16000</td>
                
            </tr>
            <tr>
                <td>XXXX</td>
                <td>Randy Orton</td>
                <td>$5000</td>
                <td>04/23/2020 12:05 PM</td>
                <td>5</td>
                <td>$25000</td>
                
            </tr>
        </table>
    </nav>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>