<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <style>
        table {
            color:green;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid lightgreen;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color:#dddddd;
        }
    </style>
</head>
<body>

<div class="trade" id="Trading History">
    <nav>
        <table>
            <tr>
                
                <th>ID</th>
                <th>Name</th>
                <th>Current Price</th>
                <th>Day High </th>
                <th>Day Low</th>
                <th> Stock Name</th>

            </tr>
            <tr>
                <td>XXXX</td>
                <td>Dibs Bharati</td>
                <td>$1000</td>
                <td>$1010</td>
                <td>$990</td>
                <td>Tesla</td>
            </tr>
            <tr>
                <td>XXXX</td>
                <td>Brian Lim</td>
                <td>$2000</td>
                <td>$2020</td>
                <td>$1980</td>
                <td>Microsoft</td>
            </tr>
            <tr>
                <td>XXXX</td>
                <td>Sanjay Mirani</td>
                <td>$3000</td>
                <td>$3040</td>
                <td>$2960</td>
                <td>Amazon</td>
            </tr>
            <tr>
                <td> XXXX </td>
                <td>Benjamin Fletes</td>
                <td>$4000</td>
                <td>$4060</td>
                <td>$3940</td>
                <td>Google</td>
                
            </tr>
            <tr>
                <td>XXXX</td>
                <td>Randy Orton</td>
                <td>$5000</td>
                <td>$5080</td>
                <td>$4920</td>
                <td>Oracle</td>
                
            </tr>
        </table>
    </nav>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>