<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <style>
        table {
            color:green;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid lightgreen;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color:#dddddd;
        }
    </style>
</head>
<body>

<div class="trade" id="Trading History">
    <nav>
        <table>
            <tr>
                <th>Stock Name</th>
                <th>Symbol</th>
                <th>Details</th>
                <th>Remove</th>
            </tr>
            {% for i in rows %}
                <tr>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }}</td>
                    <td><a href="/stockdetails?stock={{ i.3 }}">Details</a></td>
                    <td><a href="/removefromwatchlist?symbol={{ i.3 }}">Remove from Watchlist</a></td>
                </tr>
            {% endfor %}
        </table>
    </nav>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>